*
!.gitignore
!.notags
!.vimrc
!.xinitrc
!.Xresources
!.Xresources.d
!.Xresources.d/xterm
!.Xresources.d/unicode-rxvt
!.tmux.conf
!.bash_aliases
!.bash_profile
!.urxvt
!.urxvt/ext
!.urxvt/ext/font-size
!.config
!.config/i3
!.config/i3/config
!.config/i3blocks
!.config/i3blocks/config
!.config/i3blocks/scripts
!.config/i3blocks/scripts/battery.sh
!.config/i3blocks/scripts/wifi.sh
!.config/i3blocks/scripts/cpu_load.sh
!.config/i3blocks/scripts/disk_usage.sh
!.config/i3blocks/scripts/docker.sh
!.config/i3blocks/scripts/lan_ip.sh
!.config/i3blocks/scripts/memory.sh
!.config/i3blocks/scripts/public_ip.sh
!.config/i3blocks/scripts/volume.sh
!.config/dunst
!.config/dunst/dunstrc
