! -------------------------------------------
! 				   colors
! -------------------------------------------

! https://jonasjacek.github.io/colors/
#define _background #101010
#define _foreground #e0e0e0
#define _cursor #e0e0e0
#define _dark_green #86c126
#define _light_red #e04c4c
#define _dark_red #e04c4c
#define _medium_brown #c6aa5d
#define _light_green #abe560
#define _light_blue #72a6db
#define _light_magenta #74f7fc

! -------------------------------------------
!             general X11 options
! -------------------------------------------

! -------------------------------------------
!              program specific
! -------------------------------------------

#include ".Xresources.d/xterm"
#include ".Xresources.d/unicode-rxvt"
